@import "tailwindcss";
/* @import "tw-animate-css"; */

@theme {
  --color-primary : #9f5bff;
  --color-secondary:#f3f3f3
}

.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
}
ul {
    list-style: disc;
        padding-left: 2em;
 /* Removes bullet points and numbers */
}
ol{
  list-style: decimal;
    padding-left: 2em;

}

 @media print{
    #no-print{
      display: none;
    }

    #print-area{
      display: block;
 
    }
 @page{
    size: auto;
    margin: 20px -40px 0mm -40px;
    padding: 0px 0 60px 0;
    
 
  }
 @page:first{
  margin-top: -40px;
  padding-top:0px;
 }


  *{
    box-sizing: border-box;
    box-shadow:   none;
  }
 
 .content {
                margin-bottom: 1in;
            }
            .page-break {
                break-after: always;
            }
  }
body {
  
  background-attachment: fixed;
  background-size: cover;
 
  margin: 0;
  padding: 0;
}
